<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order</title>
    <link rel='stylesheet' href='/static/css/main.css'>
</head>
<body>
    <div class="container">
        <form class="text-field" action="/" method="post">
            <label class="text-field__label" for="search">Найти заказ</label>
            <div class="text-field__group">
                <input class="text-field__input" type="search" id="search" name="search">
                <button class="text-field__btn" type="submit">Найти</button>
            </div>
        </form>
    </div>
</body>
</html>